body {
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  color: black;
  overflow-x: hidden;
}

.navbar {
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  padding-left: 5%;
  padding-right: 1%;
  background-color: rgb(255, 255, 255);
  color: black;

  position: fixed;
  z-index: 999999999;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 15px;
}
.navbar_center li {
  border: 2px;
  display: contents;
}

nav a {
  text-decoration: none;
  border: 2px;
  padding: 0px 8px 0px 8px;
}

.navbar_left a {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(163, 120, 27);
}
.navbar_left span {
  color: rgb(139, 168, 32);
}

.navbar_center a:hover {
  background-color: rgb(0, 0, 0);
  padding: 0px 8px 0px 8px;
  border-radius: 5px;
  color: greenyellow;
}
.navbar_center a {
  color: #006041;
  font-weight: bolder;
}
.navbar_right {
  padding: 0px 8px 0px 8px;
  text-decoration: none;
  display: flex;
  list-style: none;
  gap: 10px;
}
.navbar_right button:hover {
  background-color: #347928;
  border-color: #347928;
}
.navbar_right img {
  width: 20px;
}
.navbar_right button {
  background-color: white;
  border-color: white;
}
/* #sign {
  font-size: small;
} */

#login,
#sign,
#profile {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  color: #006041;
}

.navbar_right #login :hover {
  background-color: black;
  padding: 10px 16px 10px 0px;
  border-radius: 10px;
  padding-left: 15px;
  font-weight: bold;
}

/* End of Navbar Barr */

/* Our Story */
.container-our-story {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  padding-right: 10vmax;
  padding-top: 75px;
  max-width: 50%;
  color: #006041;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container-our-story img {
  max-width: 45%;
  padding-top: 5vmax;
  padding-left: 10vmax;
  border-radius: 10px;
}
hr {
  color: #006041;
  width: 10vmax;
}
.container-our-story p {
  font-size: 25px;
  display: flex;
}
span {
  font-weight: bold;
  font-size: 25px;
}

h1 {
  font-weight: bolder;
  font-size: 50px;
}

h4 {
  font-weight: lighter;
}

.Kenangan {
  color: rgb(163, 120, 27);
}

.Doi {
  color: rgb(139, 168, 32);
}

.container-filosofi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #006041;
  margin: auto;
  max-width: 80%; /* Sesuaikan lebar sesuai keinginan */
}

.filosofi {
  max-width: 35%;
  padding-top: 5vmax;
  padding-left: 15vmax;
  border-radius: 10px;
}

.penjelasan-filosofi {
  padding-top: 5vmax;
  padding-left: 15vmax;
  border-radius: 10px;
}

.penjelasan-filosofi p {
  font-size: 15px;
  text-align: justify;
  max-width: 70%;
  color: black;
}

.container-expert-say {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #006041;
  margin: auto;
  max-width: 80%;
  padding-left: 15.5vmax;
}

.info-expert {
  padding-top: 5vmax;
  padding-left: 12vmax;
  border-radius: 10px;
}

.info-expert p {
  font-size: 15px;
  text-align: justify;
  max-width: 70%;
}

.penjelasan-info-expert {
  padding-left: 15vmax;
  border-radius: 10px;
}

/* .penjelasan-info-expert p {
  font-size: 15px;
  text-align: justify;
  max-width: 70%;
  padding-left: 5vmax;
} */
.container-expert-say img {
  border-radius: 50%; /* Membuat gambar menjadi bundar */
  width: 304px;
  height: 304px;
  align-items: center;
  object-fit: cover; /* Menyesuaikan gambar agar proporsional */
}

/* End of Our Story */

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* Card image */
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px; /* Adjust this as necessary */
  object-fit: cover;
}

/* Card title */
.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

/* Card body */
.card-body {
  padding: 15px;
  text-align: center;
}

/* Card text */
.card-text {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

Button styles .btn-primary {
  background-color: #5cb85c;
  border-color: #5cb85c;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #4cae4c;
  border-color: #4cae4c;
}

/* Adjust padding for the row */
.row {
  padding-left: 20px;
  padding-right: 20px;
}

.containerMenu {
  text-align: center;
}

.menu-container {
  display: flex;
  gap: 2rem;
}

.category-list ul {
  list-style: none;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #333;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.menu-item {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  width: 100%;
  border-radius: 8px;
}

.menu-item h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.menu-item p {
  margin: 0.25rem 0;
  color: #666;
}

.container-news {
  position: relative;
  justify-content: center; /* menengahkan secara horizontal */
  align-items: center; /* menengahkan secara vertikal */
  font-family: "Plus Jakarta Sans", sans-serif;
}
#logo a {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(163, 120, 27);
}
#logo span {
  color: rgb(139, 168, 32);
}
.offcanvas-body hr {
  width: 100%;
}
.offcanvas-body li {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.btn {
  background-color: #006041;
  border: #006041;
}
