body {
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  color: black;
  overflow-x: hidden;
}

.navbar {
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  /* background-color:brown; */
  padding-left: 5%;
  padding-right: 1%;
  background-color: rgb(255, 255, 255);
  color: black;

  position: fixed;
  z-index: 999999999;
}
#navbar-example3 {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays on top of other elements */
  background-color: #fff; /* Optional: Define the background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for emphasis */
}
nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 15px;
}
.navbar_center li {
  border: 2px;
  display: contents;
}
.navbar_center a {
  color: #006041;
  font-weight: bolder;
}
nav a {
  text-decoration: none;

  border: 2px;
  padding: 0px 8px 0px 8px;
}

.navbar_left a {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(163, 120, 27);
}
.navbar_left span {
  color: rgb(139, 168, 32);
}

.navbar_center a:hover {
  background-color: rgb(0, 0, 0);
  padding: 0px 8px 0px 8px;
  border-radius: 5px;
  color: greenyellow;
}
.navbar_right {
  padding: 0px 8px 0px 8px;
  text-decoration: none;
  display: flex;
  list-style: none;
  gap: 10px;
}
.navbar_right img {
  width: 20px;
}
/* #sign {
  font-size: small;
} */
.navbar_right button {
  background-color: white;
  border-color: white;
}
.navbar_right button:hover {
  background-color: #347928;
  border-color: #347928;
}
#login,
#sign,
#profile {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  color: #006041;
}

.navbar_right #login :hover {
  background-color: black;
  padding: 10px 16px 10px 0px;
  border-radius: 10px;
  padding-left: 15px;
  font-weight: bold;
}

/* Navbar Barr */
.carousel-inner {
  height: 300px;
}

.carousel-item img {
  height: 100%;
  object-fit: fill;
}
.col-sm-4 li {
  text-align: right;
  list-style: none;
  text-decoration: none;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  padding-right: 20px;
}
.table {
  margin: 10px 10px 10px 10px;
}
.container {
  align-items: center;
  justify-content: center;
}
.container-fluid {
  font-family: sans-serif;
  font-size: large;
  color: black;
  text-size-adjust: calc();
}
/* Footer */

#logo a {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(163, 120, 27);
}
#logo span {
  color: rgb(139, 168, 32);
}
.container-footer {
  width: 100%;
  display: flex;
  padding-right: 5%;
  margin-left: 10000px;
}
.container-footer {
  justify-content: space-between;
  left: 0;
  right: 0;

  display: flex;
  /* background-color:brown; */
  padding-left: 5%;
  padding-right: 1%;
  background-color: rgb(255, 0, 0);
  color: black;

  position: fixed;
  z-index: 999999999;
}

#judul h1 {
  align-items: center;
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  color: #006041;
}
#judul p {
  align-items: center;
  text-align: center;
}
#judul h2 {
  text-align: left;
  font-size: 60px;
  font-weight: 800;
  color: #006041;
}
#judul h3 {
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  color: #006041;
}
.goto li {
  list-style: none;
  text-decoration: none;
}
.goto a {
  list-style: none;
  text-decoration: none;
}

.menu-item img {
  width: 150px;
}

.menu-item p {
  font-size: 12px;
}

.menu-item h4 {
  font-size: 25px;
}

.menu-item {
  margin: 10px;
}

.row-menu {
  height: 450px;
  padding: 20px;
  display: flex;
}

.row-menu .col-8 {
  padding-left: 30px;
}
.scrollspy-example {
  height: 400px;
  overflow-x: hidden;
}
.col-8 p {
  font-size: 14px;
}
.nav-link {
  color: #006041;
  font-weight: bolder;
}

.container-fluid-menu {
  position: relative;
  display: flex;
  justify-content: center; /* menengahkan secara horizontal */
  align-items: center; /* menengahkan secara vertikal */
}

.container-fluid-menu img {
  position: absolute;
  top: 50%; /* posisikan gambar di tengah */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: auto;
  opacity: 0.8; /* buat gambar latar belakang samar-samar */
  z-index: 1; /* pastikan ini berada di belakang teks */
}

.container-fluid-menu span {
  color: #006041;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -2.7px;
  position: relative;
  z-index: 2; /* pastikan teks utama berada di depan */
  padding-top: 30px;
}
.image-register img {
  padding-top: 10vmax;
  border-radius: 5%;
}
.offcanvas-body hr {
  width: 100%;
}
.offcanvas-body li {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.product-item {
  padding-bottom: 30px;
}

.goto a {
  padding: 25px;
  padding-left: 0px;
}
.GoToMk a {
  text-decoration: none;
  list-style: none;
}

.btn {
  background-color: #006041;
  border: #006041;
}
