body{
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    color: black;
    
}

.navbar{
    justify-content: space-between; 
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    /* background-color:brown; */
    padding-left: 5%;
    padding-right: 1%;
    background-color: rgb(255, 255, 255);
    color: black;
    
    position: fixed;;
    z-index: 999999999;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 15px;
    
}
.navbar_center li{
    border: 2px;
    display: contents;
    
    
    
}

nav a {
    text-decoration: none;

    border: 2px ;
    padding: 0px 8px 0px 8px;
}

.navbar_left a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(163, 120, 27);
}
.navbar_left span{
    color: rgb(139, 168, 32);
}

.navbar_center a:hover{
    background-color: rgb(0, 0, 0);
    padding: 0px 8px 0px 8px;
    border-radius: 5px; 
    color: greenyellow; 
}
.navbar_right{
    padding: 0px 8px 0px 8px;
    text-decoration: none;
    display: flex;

    list-style: none;
    gap: 10px;
    
}

#sign{
    font-size: small;
    
}
#login{
    text-decoration: none;
    list-style: none;
    background-color: rgb(230, 227, 210);
    padding: 10px 16px 10px 0px ;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: bold;

}
.navbar_right #login :hover{
    background-color: black;
    padding: 10px 16px 10px 0px ;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: bold;

}


/* Navbar Barr */
.carousel-inner{
    height: 600px;

}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}



